
* {

    /* margin: 0;
    padding: 0; */
    box-sizing: border-box;

}

html {

    width: 100%;
    height: 100%;
    font-family: 'Arimo', sans-serif;

}

body {

    background: url(images/bg/basket_apples.jpg);
    background-size: cover;

    
}

.main {

    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    
}



#nav-bar {

    display: flex;
    flex-direction: column;
    align-items: center;
    width: 20px;
    height: 20px;
    transition: 0.4s;

}


#nav-bar.active {

    height: 130px;
    
}

.nav-btn {
    
    color: white;
    font-size: 20px;
    
}

a {
    
    color: inherit;
    text-decoration: none;
    
}

.nav-box {
    
    max-width: fit-content;
    max-height: fit-content;
    padding: 20px;
    background-color: rgba(245, 245, 245, 0.192);
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.206) 0px 1px 4px;
    overflow: hidden;
    
}

.navbar {

    margin-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;


}

.fa-solid.fa-bars {

    color: white;
    font-size: 23px;

}

.fa-solid.fa-bars:hover {

    cursor: pointer;

}


#toggle-bars {

    transition: 0.4s;

}

#toggle-bars.active {

    transform: rotate(270deg);

    /* color: rgb(92, 251, 174); */
    color: white;

}

.nav-icon {

    font-size: 30px;
    margin-bottom: 20px;

}


h1 {

    color: white;
    font-size: 70px;
    letter-spacing: 10px;

}

.form-box {

    padding: 20px;
    margin-top: 160px;
    text-align: center;
    background: rgba(255, 255, 255, 0.12);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(7.9px);
    -webkit-backdrop-filter: blur(7.9px);
    border: 1px solid rgba(255, 255, 255, 0.44);
    border-bottom-left-radius: 8%;
    border-bottom-right-radius: 8%;

}

form {

    display: flex;
    flex-direction: column;
    align-items: center;

}


.input-bar {

    border-radius: 15px;
    width: 530px;
    height: 50px;
    border-style: none;
    outline: none;
    padding: 0 20px;
    font-size: 20px;

}

.add-btn {

    /* background: rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(8px); */
    margin-top: 30px;
    color: white;
    border: 1px solid white;
    border-radius: 10px;
    height: 40px;
    width: 170px;
    font-size: 20px;
    transition: all 0.4s;
    background: none;
}

::placeholder {
    color: black;
    opacity: 0.3;
    font-style: italic;
    font-weight: 200;
    
}

.add-btn:hover {

    cursor: pointer;
    background-color: rgb(172, 240, 172);
    color: darkolivegreen;
    transform: translateY(-5px);
    border: hidden;

}

span {

    color: whitesmoke;
    font-size: 30px;
    font-style: italic;

}

.txt-alert {

    color: white;

}

.info-txt {

    font-size: 50px;
    font-style: italic;

}

.p-alert {

    font-size: 30px;
    font-weight: 600;
    font-style: italic;
    color: greenyellow;

}
